# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

/win/driver/build/objfre_wxp_x86
/win/driver/build/buildfre_wxp_x86.log